* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
  border: 10px solid rgb(218, 215, 215);
  
}

.container1 {
  width: 50%;
  height: 100%;
  
  background-color: #2C5364;
  padding: 60px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  /* text-align: center; */
}

.container1 > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: contain;
  background-position: center;
}

.container1 > p {
  color: white;
}

.container1 >h1 {
  color: white;
}

.container2 {
  width: 50%;
  height: 100%;
  padding: 60px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  /* text-align: center; */
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards > img {
  width: 70px;
  height: 70px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.cancel {
  position: absolute;
  right: 60%;
  bottom: 12.5%;
  
}

.checkout {
  position: absolute;
  bottom: 10%;
  right: 25%;
}

.checkout > button {
  padding: 20px 60px;
  /* border-radius: 30px; */
  border: 1px solid white;
  color: white;
  background-color: tomato;
  transition: 0.25s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(80, 151, 151);

}

button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  border-bottom: 1px solid rgb(103, 96, 96);
  background-color: rgb(115, 110, 110);
  transition: 0.25s;
}

button:hover::before {
 width: 100%; 

}

button::after {
  content: "";
  position: absolute;

  right: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  
  background-color: rgb(101, 96, 96);
  transition: 0.25s 0.25s;
}

button:hover::after {
  
  height: 100%;
 }


